@import "tailwindcss";

:root {
  --background: #011138; /* Oxford */
  --foreground: #ffffff; /* Blanco */
}

/* Carga local de fuente Satoshi desde public/fonts */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-oxford: #011138;   
  --color-mint: #00FFB3;   
  --color-prussian: #102D46;
  --color-celeste: #C1F4E5;
  --font-sans: "Satoshi", sans-serif; 
  --font-mono: var(--font-geist-mono);
  
}


body {
  background: var(--background);
  color: var(--foreground);
   font-family: "Satoshi", sans-serif;

}
